#gameView{
	-fx-background-image: url("LobbyBackground.jpg");
	-fx-background-size: cover;
}

/*
 * ChatView start
 */
#winnerLabel{
	-fx-text-fill:red ;
	-fx-font-weight:bold;
	-fx-font-size:0.5cm; 
}
 
#teamOneLabel{
	-fx-pref-width:160;
	-fx-text-fill:black;
	-fx-font-weight:bold;
	-fx-font-size:1.0cm;
}

#teamOneScoreLabel{
	-fx-text-fill:red;
	-fx-font-weight:bold;
	-fx-font-size:1.0cm;
}

#teamTwoLabel{
	-fx-pref-height:500;
	-fx-pref-width:160;
	-fx-text-fill:black;
	-fx-font-weight:bold;
	-fx-font-size:1.0cm;
}

#teamTwoScoreLabel{
	-fx-pref-height:500;
	-fx-text-fill:red;
	-fx-font-weight:bold;
	-fx-font-size:1.0cm;
}

#chatLabel{
	-fx-text-fill:rgb(0.0,0.0,64.0);
	-fx-font-weight:bold;
}

#chatTextArea{
	-fx-pref-width:300.0;	
}

.text-area {
    -fx-background-color: rgba(0,0,0,0);
      -fx-text-fill:rgb(0,255,255);
    -fx-font-size: 20px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#chatTextField{
	-fx-pref-width:170.0;
	-fx-background-color:transparent ;
	-fx-border-color:black;
	  -fx-text-fill:rgb(0,255,255);
	-fx-font-size:15px;
	
}

#sendButton{
	-fx-pref-height:40;
	-fx-pref-width:90;
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
}
#sendButton:hover{
	-fx-background-color:pink;
}
/*
 * ChatView finish
 */
 
 
 /*
 * ControlArea  start
 */
 
 #spacer{
 	-fx-pref-width:0.5cm;
 	-fx-pref-height:1.0cm;
 }
 
 #passButton{
 	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 }
 
 #passButton:hover{
 	-fx-background-color:pink;
 }
 
 #confirmButton{
 		-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 }
 
  #confirmButton:hover{
 	-fx-background-color:pink;
 }
 
 #quitGameButton{
 		-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 }
 
  #quitGameButton:hover{
 	-fx-background-color:pink;
 }
 
 #smallTichu{
 		-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 	-fx-pref-width:3.5cm;
 	-fx-pref-height:1.0cm;
 }
 
  #smallTichu:hover{
 	-fx-background-color:pink;
 }
 
 #grandTichu{
 		-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 }
 
  #grandTichu:hover{
 	-fx-background-color:pink;
 }
 
#newGameButton{
		-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
}

 #newGameButton:hover{
 	-fx-background-color:pink;
 }

#resetSelectedCardsButton{
		-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
 	-fx-pref-width:3.0cm;
 	-fx-pref-height:1.0cm;
 	-fx-pref-width:5.5cm;
 	-fx-pref-height:1.0cm;
}

 #resetSelectedCardsButton:hover{
 	-fx-background-color:pink;
 }

 #bottomPane{
 	-fx-border-color:red;
 }
 /*
 * ControlArea finish
 */
 
 
 /*
 * BoardView start
 */
#topLabel{
	-fx-text-fill:rgb(255,0,0);
	-fx-font-weight:bold;
	-fx-font-size:1.5cm;
}

#leftLabel{
	-fx-text-fill:rgb(255,0,0);
	-fx-font-weight:bold;
	-fx-font-size:1.5cm;
}

#rightLabel{
	-fx-text-fill:rgb(255,0,0);
	-fx-font-weight:bold;
	-fx-font-size:1.5cm;
}

#clickedCard{
	-fx-border-color:pink;
	-fx-border-style:solid ;
}

#cardButton{
	-fx-border-color:black ;
}

#cardButton:hover{
	-fx-border-color:black ;
	-fx-pref-width:130px;
	-fx-pref-height:130px;
	-fx-background-color:pink;
}

#backgroundImageView{
	-fx-opacity:0.0;
	-fx-border-color:black;
	-fx-border-style:solid ;
}

  /*
 * BoardView finish
 */

